
  
  <% source = current_page.data.source || "./" %>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <!-- <meta name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
  <!-- Use the title from a page's frontmatter if it has one -->
  <!-- <title><%= current_page.data.title || "Middleman" %></title> -->

  <link rel="icon" type="image/png" href=<%= source + "images/me.png" %> >

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script> -->

  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- 
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet"> -->

  <!-- because middleman is too dumb- for build -->
  <script src= <%= source + "javascripts/jquery.min.js" %> ></script>
  <script src= <%= source + "./javascripts/site.js?=v0.259" %>></script>
  <link href= <%= source + "./javascripts/owl/assets/owl.carousel.min.css" %> rel="stylesheet">
  <script src= <%= source + "./javascripts/owl/owl.carousel.min.js" %>></script>
  <link href= <%= source + "./javascripts/owl/assets/owl.theme.default.min.css" %> rel="stylesheet">
  <link href= <%= source + "./stylesheets/site.css?=v0.742" %> rel="stylesheet">



  <!-- because middleman is too dumb- for server -->
  <!-- <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/site.js?=v0.259"></script>
  <link href="/javascripts/owl/assets/owl.carousel.min.css" rel="stylesheet">
  <script src="/javascripts/owl/owl.carousel.min.js"></script>
  <link href="/javascripts/owl/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="/stylesheets/site.css?=v0.742" rel="stylesheet">
 -->
 <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39843414-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39843414-1');
  </script>

  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>







