
    <!-- <%= partial '/partials/contact' %> --><!doctype html>
<html>
  <head>
    <%= partial '/partials/head' %>
    <title>jan zheng—product designer</title>
  </head>
    <%= partial '/partials/nav' %>
  <body>
    <%= yield %>
    <!-- <%= partial '/partials/about' %> -->
    <!-- <%= partial '/partials/contact' %> -->
    <!-- <%= partial '/partials/footer' %> -->
  </body>
</html>
