<!doctype html>
<html>
  <head>
    <title>jan zheng—product designer</title>
    <%= partial '/partials/head' %>
  </head>
  <body class="">

    <%= partial '/partials/nav' %>

    <div class="_main">
      <%= yield %>
      

      <%= partial '/partials/contact' %>
      <%= partial '/partials/footer' %>
    </div>

  </body>
</html>
