---

import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';

import '@fontsource/nanum-myeongjo/400.css';
import '@fontsource/nanum-myeongjo/700.css';

import { marked } from 'marked';
import Layout from '@layouts/Layout.astro';
import BlogalogPostPage from '@components/blogalog/BlogalogPostPage.svelte';
import BlogalogFooter from '@components/blogalog/BlogalogFooter.svelte';

// custom posts
import MoreWithLess from '@components/projects/moreWithLess/MoreWithLess.astro';

// const { url = 'https://coverflow.deno.dev/janzheng' } = Astro.props;
// const { url = 'http://localhost:9999/janzheng?mode=live' } = Astro.props;
// const { url = 'http://localhost:9999/janzheng' } = Astro.props;


const url = import.meta.env.PROD
  ? "https://coverflow.deno.dev/janzheng"
  : "http://localhost:9999/janzheng?mode=live";

const { postPath } = Astro.params;
let blogalogData = {}, currentPost;
try {
  let response = await fetch(url, {
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json; charset=utf-8'
    }
  });
  
  blogalogData = await response.json();
  currentPost = blogalogData.pages?.find(item => item.Path === postPath) || null;

  if (!currentPost) {
    console.log('rewrite to 404');
    return Astro.rewrite('/404');
  }

  // console.log('postData:::', postPath, currentPost);
} catch (error) {
  console.error(`Error fetching or parsing blogalog data: [${url}]`, error);
}




---
<Layout title={currentPost?.Name}>
  <div class="JanZheng | Article | ">
    {currentPost && (
      <BlogalogPostPage {blogalogData} {currentPost} client:load="svelte">
        {postPath === "more-with-less" && (
          <MoreWithLess/>
        )}
      </BlogalogPostPage>
      <BlogalogFooter {blogalogData} client:load="svelte" />
    )}
  </div>
</Layout>
