---
layout: landing
name: blog
---


<div class="_hero-page" markdown="1">

  <section class="_hero">
    <figure style="background-image: url(./images/pic4_2.jpg)">
      <!-- <img src="https://unsplash.it/1300/700/"> -->
    </figure>
    <div class="_hero-content _content ">
      <div class="_grid-one _margin-center _width-content-max-narrow " >
       <h2 class="_margin-top-none _font-light">Words and <strong>thoughts.</strong></h2>
      </div>
    </div>
  </section>


  <section class=" _padding-bottom-none-i" >

    <div class="_content _container-large _width-content-max-narrow _margin-center _margin-bottom">
      <h3 class="_header _font-light">Sometimes we speak our <strong>thoughts and know-how.</strong> </h3>
    

      <p>
        <h4 class="_font-light">
          And other times we break down things like <span class="_font-normal">508 compliance</span>, <span class="_font-normal">microservices and APIs</span>, and lots of other things. </h4>
      </p>
    </div>

      <%= partial '/partials/blog' %>
      <%= partial '/partials/blog' %>
      <%= partial '/partials/blog' %>
      <%= partial '/partials/blog' %>
      <%= partial '/partials/blog' %>


  </section>




</div>

